<div *ngIf="loggedIn else elseBlock">
  <p>Hello, {{customer.name}}</p>
  &nbsp;
  <p>Your balance is: {{customer.balance}}</p>
  <p>Paying Method: {{customer.paymentMethod}}</p>
  <table>
    <caption>Buying History</caption>
    <thead>
      <tr>
        <td>Product Name</td>
        <td>Product Price</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of customer.buyingHistory">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
      </tr>
    </tbody>
  </table>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;

  <div>
    <button style="white-space: pre" (click)="signout()" routerLink="/home">Sign out</button>
  </div>


</div>
<ng-template #elseBlock>
  <input type="text" id="email" name="email" #email placeholder="E-mail address">
  <input type="password" id="password" name="password" #password placeholder="Password">
  &nbsp;
  <button type="submit" style="font-size: 16px" (click)="onLogin(email.value, password.value)">Login</button>
  <p>Or</p>
  <button type="button" routerLink="/adduser">Sign Up</button>
</ng-template>
<router-outlet></router-outlet>
