<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <h1 align="center">Hello, <span th:text="${customer.name}"></span></h1>
    <br></br>

    <h3 align="center">Balance: <span th:text="${customer.balance}"></span></h3>
    <h3 align="center">Payment Method: <span th:text="${customer.paymentMethod}"></span></h3>

    <table align="center">
        <h1 align="center">Your Buying History</h1>
        <tr th:each="product : ${customer.buyingHistory}">
            <td th:text="${product.name}">Product A</td>
            <td th:text="${product.price}">1200</td>
        </tr>
    </table>

    <!--div th:each="product : ${customer.buyingHistory}">
        <h3 align="center" th:text="${product.name}">Product A</h3>
    </div-->

    <a align="right" href="/products">Go to buy</a>
</body>
</html>