<form (ngSubmit)="signup()">
  <table>
    <input type="text" [(ngModel)]="customer.name" name="name" placeholder="Name">
    <input type="email" [(ngModel)]="customer.email" name="email" placeholder="Email">
    <input type="text" [(ngModel)]="customer.paymentMethod" name="paymentMethod" placeholder="Payment Method">
    <input type="number" [(ngModel)]="customer.balance" name="balance" placeholder="Balance">
    <input type="password" [(ngModel)]="customer.password" name="password" placeholder="Password">
    <button type="submit">Submit</button>
  </table>

</form>
